{% extends "base.html" %}

{% load account crispy_forms_tags %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<div class="container py-8">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <h1 class="bg-niigoki text-center text-white py-3">Password Reset</h1>
      <div class="card-body">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center py-2">
            <input class="btn btn-orange text-white" type="submit" value="Reset My Password" />
          </div>
        </form>
        <p>Please contact us if you have any trouble resetting your password.</p>
      </div>
    </div>
  </div>
</div>





{% endblock %}