{% extends 'base.html' %}

{% block head-title %}Verify your E-mail Address{% endblock head-title %}

{% block content %}
<section>
  <div class="container py-8">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <h1 class="py-3 bg-shogoki text-center text-white">Verify your E-mail Address</h1>
        <div class="card-body">
          <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
          </p>
          <div class="text-center">
            <a class="btn btn-shogoki" href="/">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}